In [32]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [33]:
df=pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/raw_data.csv')

In [34]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [ ]:
Exploring different ways of cleaning data

In [ ]:
Drop missing observations

In [35]:
df_no_missing = df.dropna()
df_no_missing

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [36]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [37]:
#Rows that has all NaN will be removed
df_cleaned=df.dropna(how='all')
df_cleaned

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [38]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [39]:
df.loc[9] = [210,'Jim Carry','17/4/1984','jim.carry@gmail.com','Male','Amazon','USA',12349.556,2365]

In [40]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [41]:
df['Total Income']=np.nan
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0,NaN

In [42]:
#Total nulls in the dataframe
df.isnull().sum()

id                     0
Employee Full Name     0
DOB                    0
email                  2
gender                 0
Company                0
Country                2
Income.1               4
Income.2               2
Total Income          20
dtype: int64

In [43]:
#Finding only nulls in a particular column

df[df['email'].isna()]

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0,NaN
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0,NaN

In [44]:
df.at[3,'email'] = 'graeme.croisier@gmail.com'
df.at[6,'email'] = 'modesta.batterson@gmail.com'
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0,NaN

In [45]:
#Check unique country names to meke sure all are correct
df['Country'].unique()

array(['India', 'USA', 'UAS', 'Canada', nan, 'Russia'], dtype=object)

In [46]:
#Replace wrong name with correct name by using replace method
df['Country'].replace({'UAS':'USA'},inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0,NaN

In [47]:
df['Country'].fillna(value=df['Country'].mode()[0],inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,12349.556,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0,NaN

In [48]:
#Lets try adding both income and keep total in new column called Salary
df['Total Income'] = df['Income.1'] + df['Income.2']

TypeError: can only concatenate str (not "float") to str

In [ ]:
#As the Income 1 Contains special character dollar sign so it is treated as object data and you cannot add it to int. 
#We will try to fix dollar[$] sign.
#To fix the issue we have to remove the sign and convert it into float data type

In [49]:
#Replace  sign with Empty
df['Income.1'] = df['Income.1'].str.replace("$","")
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,NaN,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0,NaN

In [50]:
#Replace space with nulls so that we can treat all nulls together
df['Income.1'] = df['Income.1'].replace("",np.nan)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,NaN,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0,NaN

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     object
 8   Income.2            18 non-null     float64
 9   Total Income        0 non-null      float64
dtypes: float64(3), object(7)
memory usage: 1.7+ KB

In [52]:
#Since Income.1 had '$' sign in it and still will be considered as string. Lets convert into float and convert all Nan's 
#later

df['Income.1'] = df['Income.1'].astype(float)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     float64
 8   Income.2            18 non-null     float64
 9   Total Income        0 non-null      float64
dtypes: float64(4), object(6)
memory usage: 1.7+ KB

In [54]:
df['Income.1'].fillna(df.groupby('gender')['Income.1'].transform("mean"),inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,NaN
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,NaN
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,NaN
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,NaN
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,NaN
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,NaN
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,NaN
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,NaN
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,NaN
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,NaN
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,NaN
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,NaN
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,NaN
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,NaN
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,NaN
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,NaN
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,NaN

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            20 non-null     float64
 8   Income.2            18 non-null     float64
 9   Total Income        0 non-null      float64
dtypes: float64(4), object(6)
memory usage: 1.7+ KB

In [56]:
#Create a new column to store both the incomes
df['Total Income'] = np.ceil(df['Income.1'] + df['Income.2'])
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,45835.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,46553.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,45633.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,41956.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,42420.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,41341.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,40623.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0

In [57]:
# Split full name into first and second
df['Employee Full Name'].str.split(" ",expand = True)

            0            1
0       Salim        Pound
1    Madelene        Lutas
2       Dolli   Swanbourne
3      Graeme     Croisier
4     Jillana       Physic
5      Anetta     Yokelman
6     Modesta    Batterson
7      Melina         Boon
8        Nomi         Warn
9         Jim        Carry
10   Charleen        Auden
11       Dame       Povele
12      Jesse  Engelbrecht
13      Camey     Barensen
14  Alexandro       Sember
15     Myrtia        Towne
16       Shay    Cakebread
17      Nerta    McCutheon
18      Patin     Mitchely
19    Malinda  Heistermann

In [58]:
df['First_name'] = df['Employee Full Name'].str.split(" ").str.get(0)
df['Second_name'] = df['Employee Full Name'].str.split(" ").str.get(1)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income,First_name,Second_name
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0,Salim,Pound
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0,Madelene,Lutas
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,45835.0,Dolli,Swanbourne
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0,Graeme,Croisier
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0,Jillana,Physic
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,46553.0,Anetta,Yokelman
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,45633.0,Modesta,Batterson
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,41956.0,Melina,Boon
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN,Nomi,Warn
9,210.0,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,42420.0,Jim,Carry
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0,Charleen,Auden
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,41341.0,Dame,Povele
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN,Jesse,Engelbrecht
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0,Camey,Barensen
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,40623.0,Alexandro,Sember
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0,Myrtia,Towne
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0,Shay,Cakebread
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0,Nerta,McCutheon
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0,Patin,Mitchely
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0,Malinda,Heistermann

In [ ]:
#Move columns First and Last name to the First and second position.

In [59]:
column_to_move = df['First_name']
df = df.drop('First_name', axis=1)
df.insert(1, 'First_name', column_to_move)

df

,id,First_name,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income,Second_name
0,201.0,Salim,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0,Pound
1,202.0,Madelene,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0,Lutas
2,203.0,Dolli,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,45835.0,Swanbourne
3,204.0,Graeme,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0,Croisier
4,205.0,Jillana,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0,Physic
5,206.0,Anetta,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,46553.0,Yokelman
6,207.0,Modesta,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,45633.0,Batterson
7,208.0,Melina,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,41956.0,Boon
8,209.0,Nomi,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN,Warn
9,210.0,Jim,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,42420.0,Carry
10,211.0,Charleen,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0,Auden
11,212.0,Dame,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,41341.0,Povele
12,213.0,Jesse,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN,Engelbrecht
13,214.0,Camey,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0,Barensen
14,215.0,Alexandro,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,40623.0,Sember
15,216.0,Myrtia,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0,Towne
16,217.0,Shay,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0,Cakebread
17,218.0,Nerta,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0,McCutheon
18,219.0,Patin,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0,Mitchely
19,220.0,Malinda,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0,Heistermann

In [61]:
column_to_move = df['Second_name']
df = df.drop('Second_name', axis=1)
df.insert(2, 'Second_name', column_to_move)

df

,id,First_name,Second_name,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim,Pound,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene,Lutas,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli,Swanbourne,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,45835.0
3,204.0,Graeme,Croisier,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana,Physic,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0
5,206.0,Anetta,Yokelman,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,46553.0
6,207.0,Modesta,Batterson,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,45633.0
7,208.0,Melina,Boon,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,41956.0
8,209.0,Nomi,Warn,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN
9,210.0,Jim,Carry,Jim Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,42420.0
10,211.0,Charleen,Auden,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame,Povele,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,41341.0
12,213.0,Jesse,Engelbrecht,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN
13,214.0,Camey,Barensen,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro,Sember,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,40623.0
15,216.0,Myrtia,Towne,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay,Cakebread,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta,McCutheon,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin,Mitchely,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda,Heistermann,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0

In [62]:
df.drop('Employee Full Name', axis = True, inplace = True)

In [63]:
df

,id,First_name,Second_name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim,Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene,Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli,Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,45835.0
3,204.0,Graeme,Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana,Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0
5,206.0,Anetta,Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,46553.0
6,207.0,Modesta,Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,45633.0
7,208.0,Melina,Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,41956.0
8,209.0,Nomi,Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN
9,210.0,Jim,Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,42420.0
10,211.0,Charleen,Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame,Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,41341.0
12,213.0,Jesse,Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN
13,214.0,Camey,Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro,Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,40623.0
15,216.0,Myrtia,Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay,Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta,McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin,Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda,Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0

In [ ]:
Hierarichal Indexing

In [ ]:
#Your original df remains same and you can gather various information as per your need and keep it in seperate df for your analysis

In [64]:
comp_country_wise = df.set_index(['Company','Country'], drop = True)
comp_country_wise

                      id First_name  Second_name         DOB  \
Company   Country
Google    India    201.0      Salim        Pound  02-12-2018
Amazon    USA      202.0   Madelene        Lutas   9/20/2018
Intel     USA      203.0      Dolli   Swanbourne  11/18/2018
Accenture Canada   204.0     Graeme     Croisier   9/29/2018
          India    205.0    Jillana       Physic   4/19/2018
Intel     India    206.0     Anetta     Yokelman   4/26/2018
          India    207.0    Modesta    Batterson   3/28/2018
Amazon    India    208.0     Melina         Boon  12/18/2017
          USA      209.0       Nomi         Warn   1/16/2018
          USA      210.0        Jim        Carry   17/4/1984
Accenture USA      211.0   Charleen        Auden   4/15/2018
Amazon    India    212.0       Dame       Povele   6/26/2018
          Canada   213.0      Jesse  Engelbrecht   4/16/2018
Google    Canada   214.0      Camey     Barensen   8/21/2018
          Russia   215.0  Alexandro       Sember  04-08-2018
          India    216.0     Myrtia        Towne   2/14/2018
          India    217.0       Shay    Cakebread   9/27/2018
Amazon    India    218.0      Nerta    McCutheon  01-07-2018
          Russia   219.0      Patin     Mitchely   5/21/2018
Intel     Russia   220.0    Malinda  Heistermann  10/30/2018

                                           email  gender      Income.1  \
Company   Country
Google    India              spound0@spotify.com    Male  46476.638081
Amazon    USA                     mlutas1@si.edu  Female  54174.687948
Intel     USA       dswanbourne2@istockphoto.com  Female  45600.009156
Accenture Canada       graeme.croisier@gmail.com    Male  46784.630879
          India          jphysic4@yellowbook.com  Female  57486.495560
Intel     India          ayokelman5@berkeley.edu  Female  45600.009156
          India      modesta.batterson@gmail.com  Female  45600.009156
Amazon    India                 mboon7@weibo.com    Male  40054.811243
          USA                   nwarn8@sogou.com  Female  28602.435377
          USA                jim.carry@gmail.com    Male  40054.811243
Accenture USA                    caudena@nba.com  Female  47119.174780
Amazon    India           dpoveleb@bloglovin.com    Male  40054.811243
          Canada         jengelbrechtc@google.ru  Female  55804.925687
Google    Canada            cbarensend@globo.com    Male  44191.473128
          Russia                asembere@ibm.com    Male  40054.811243
          India                mtownef@ifeng.com  Female  44481.765191
          India             scakebreadg@webs.com    Male  55719.962157
Amazon    India                 nmccutheonh@t.co  Female  33767.509995
          Russia          pmitchelyi@tinypic.com    Male   7101.351970
Intel     Russia   mheistermannj@list-manage.com  Female  43363.078707

                   Income.2  Total Income
Company   Country
Google    India       529.0       47006.0
Amazon    USA         720.0       54895.0
Intel     USA         234.0       45835.0
Accenture Canada      657.0       47442.0
          India      1947.0       59434.0
Intel     India       952.0       46553.0
          India        32.0       45633.0
Amazon    India      1901.0       41956.0
          USA           NaN           NaN
          USA        2365.0       42420.0
Accenture USA         920.0       48040.0
Amazon    India      1286.0       41341.0
          Canada        NaN           NaN
Google    Canada       46.0       44238.0
          Russia      568.0       40623.0
          India      1553.0       46035.0
          India      1013.0       56733.0
Amazon    India      1920.0       35688.0
          Russia     1952.0        9054.0
Intel     Russia     1668.0       45032.0

In [68]:
comp_country_wise['Total Income'].sum(level='Company')

Company
Google       234635.0
Amazon       225354.0
Intel        183053.0
Accenture    154916.0
Name: Total Income, dtype: float64

In [69]:
df

,id,First_name,Second_name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim,Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene,Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli,Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,45600.009156,234.0,45835.0
3,204.0,Graeme,Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana,Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0
5,206.0,Anetta,Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,45600.009156,952.0,46553.0
6,207.0,Modesta,Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,45600.009156,32.0,45633.0
7,208.0,Melina,Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,40054.811243,1901.0,41956.0
8,209.0,Nomi,Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,NaN,NaN
9,210.0,Jim,Carry,17/4/1984,jim.carry@gmail.com,Male,Amazon,USA,40054.811243,2365.0,42420.0
10,211.0,Charleen,Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame,Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,40054.811243,1286.0,41341.0
12,213.0,Jesse,Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,NaN,NaN
13,214.0,Camey,Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro,Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,40054.811243,568.0,40623.0
15,216.0,Myrtia,Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay,Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta,McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin,Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda,Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0